<% include ../partials/header %>
<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="heading">
            <h2>All <%= trip.name %> image</h2>
        </div>
        <div class="row guitters">
            <% trip.image.forEach(function(image) { %>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a class="lightbox" href="<%= image %>">
                        <img class="img-fluid image" src="<%= image %>">  
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</section>
 
<% include ../partials/footer %>